body {
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    margin-top: 40px;
}

p {
    font-size: 21px;
    color: gray;
    margin-top: 20px;
}
a {
    color: aquamarine;
    font-size: 16px;
}

video {
    width: 30%;
    max-width: 800px;
    margin-top: 40px;
    border-radius: 8px;
}

#rel{
    width: 80px;
}
#op{
    text-align: right;
    color: gray;
}